/* body section start */

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: 100%;
}

/* head section start */




/* headdescribe section  */

/* descrive section */

.header{
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
    margin-top: -5px;
    display: flex;
    gap: 20px;
    right: 0px;
    
}

.descrive{
    width: 708px;
    width: 288px;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    padding-left: 240px;
    padding-top: 197px;

}

.headdescribe{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 634px;
    height: 90px;
    padding-top: 15px;
    padding-left: 240px;
}

.btn-button{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    padding-top: 25px;
    margin-left: 240px;
}

.img img{
   
    width: 635px;
    height: 800px;
    position: right;
    width: 60%;
    padding:50px 240px 0 245px;

}

/* head section end */


/* main section start */
   
 /* featured */

 .featured{
    padding-top: 150px;
    padding-left: 40%;
    width: 1920px;
    height: 4867px;
    color: #FFF;
 }

 .ofeatured{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    width: 329px;
    height: 48px;
    display: inline-block;
 }

 /* featureddescrive */
 .featureddescrive{
    padding-top: 24px;
    margin-left: -150px;
    width: 594px;
    height: 60px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;

 }

/* main section end */



/* footer section start */

footer{
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    background: #111010;
}
.footerdescrive{
    text-align: center;
    padding: 128px 700px;
}

.flower{
    color: #FFF;
    font-family: Lato;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    height: 58px;
    width: 259px;

}
 h1 span{
    color: #E55473;
 }
 /* footerdescrivedetails */

 .footerdescrivedetails{
    width: 625px;
    height: 60px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    margin-left: -170px;
    margin-top: -15px;
   
 }
 /* copyright */

 .copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    margin-left: -290px;
    margin-top: -15px;

 }
/* footer section end */