/* body section start */

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: 100%;
}

/* head section start */




/* headdescribe section  */

/* descrive section */

.header{
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
    margin-top: -5px;
    display: flex;
    gap: 20px;
    right: 0px;
    
}

.descrive{
    width: 708px;
    width: 288px;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    padding-left: 240px;
    padding-top: 197px;

}

.headdescribe{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 634px;
    height: 90px;
    padding-top: 15px;
    padding-left: 240px;
}

.btn-button{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    padding-top: 25px;
    margin-left: 240px;
}

.img img{
   
    width: 635px;
    height: 800px;
    position: right;
    width: 60%;
    padding:50px 240px 0 245px;

}

/* head section end */


/* main section start */
   
 /* featured */

 .featured{
    padding-top: 150px;
    padding-left: 40%;
    width: 1920px;
    height: 4867px;
    color: #FFF;
 }

 .ofeatured{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    width: 329px;
    height: 48px;
    display: inline-block;
 }

 /* featureddescrive */
 .featureddescrive{
    padding-top: 24px;
    margin-left: -150px;
    width: 594px;
    height: 60px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    

 }


 /* flowerdescrive */
 .flowerdescrive{
   padding-top: -90%;
    width: 1520px;
    height: 4867px;
    display: flex;
    gap: 60px;
    padding-left: 100px;
    background: #FFF;
    color: #111010;

  
 }

 .flower1 img{
    padding-top: 100px;
    padding-left: 55px;
 }
 .flower2 img{
    padding-top: 100px;
    padding-left: 55px;
 }

 .flower3 img{
    padding-top: 10px;
    padding-left: 90px;
 }


 /* flower1 */
 .flower1{
    
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
 }
 /* flowerlink */
 .flowerlink1{
   padding-top: 35px;
   padding-left: 125px;
   width: 181px;
   height: 35px;
   color: #272727;
   text-align: center;
   text-decoration-line: underline;
 }
 .flowerlink2{
   padding-top: 95px;
   padding-left: 125px;
   width: 181px;
   height: 35px;
   color: #272727;
   text-align: center;
   text-decoration-line: underline;
 }
 .flowerlink3{
   padding-top: 95px;
   padding-left: 125px;
   width: 181px;
   height: 35px;
   color: #272727;
   text-align: center;
   text-decoration-line: underline;
 }

 .flower2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
 }

 .flower3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
 }

 /* hotdeals section start */

 .hotdeals{
   width: 1922px;
   height: 420px;
   border-radius: 8px;
   background: rgba(229, 84, 115, 0.05);
   display: flex;
   gap: 40;
   padding-top: 105px;

 }

 /* hotdealsdescrive */

 .hotdealsdescrive{
   padding-top: 120px;
   padding-left: 370px;
 }

 /* hotdealsimg */

 .hotdealsimg{
   padding-left:205px;
 }
 /* hotdealsoffer */

 .hotdealsoffer{
   color: #272727;
   font-size: 30px;
   width: 537px;
   height: 48px;

 }

 /* hotdealsdescrive */

 .hotdealsdescrives{
   color: rgba(39, 39, 39, 0.60);
   text-align: center;
   font-size: 18px;
   width: 594px;
   height: 60px;

 }


 /* Instagram  */

 .Instagram{
   width: 1920px;
   height: 4867px;
   background: #FFF;
   padding-left: 700px;
   padding-top: 50px;
 }

 .Instagramabout{
   width: 180px;
   height: 48px;
   color: #272727;
   text-align: center;
   font-size: 40px;

}

/* Instagramaboutdeatils */

.Instagramaboutdeatils{
   width: 594px;
   height: 60px;
   color: rgba(39, 39, 39, 0.60);
   text-align: center;
   font-size: 18px;
   margin-left: -200px;

}



 /* deals section  */

 .deals{
   width: 1440px;
   height: 449px;
   border-radius: 8px;
   background: url('../image/Rectangle\ 9.png'), lightgray 0px -203.444px / 100% 213.755% no-repeat;
   margin-left: 10%;
   margin-bottom: 128px;

 }

 /* getlatest  */

 .getlatest{
   width: 473px;
   height: 48px;
   color: #272727;
   text-align: center;
   font-size: 40px;
   padding-top: 10%;
   padding-left: 35%;
 
 }

 /* coupon */
 .coupon{
   color: rgba(39, 39, 39, 0.60);
   text-align: center;
   font-size: 18px;
   width: 301px;
   height: 30px;
   padding-left: 40%;
   

 }
 /* subscribeweb */

 .subscribeweb{
    padding-top: 1%;
   padding-left: 25%;

 }

.email{
   width: 500px;
   height: 44px;
   border-radius: 8px;
   background: #FFF;

}

.btn-subscribe{
   width: 150px;
   height: 50px;
   border-radius: 8px;
   background: #E55473;
   margin-right: 16px;
   color: #FFF;
}
/* main section end */



/* footer section start */

footer{
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    background: #111010;
}
.footerdescrive{
    text-align: center;
    padding: 128px 700px;
}

.flower{
    color: #FFF;
    font-family: Lato;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    height: 58px;
    width: 259px;

}
 h1 span{
    color: #E55473;
 }
 /* footerdescrivedetails */

 .footerdescrivedetails{
    width: 625px;
    height: 60px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    margin-left: -170px;
    margin-top: -15px;
   
 }
 /* copyright */

 .copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    margin-left: -290px;
    margin-top: -15px;

 }
/* footer section end */